[submodule "gatekeeper-operator"]
	path = gatekeeper-operator
	url = https://github.com/MStokluska/cloud-resource-operator.git
	branch = master
[submodule "drift-detection"]
	path = drift-detection
	url = https://github.com/arewm/drift-detection